[user]
    email = eduardo@gizatech.xyz
    name = eduponz
    signingkey = D4831046D6F2734E
[alias]
    lg = "!f() { \
            lines=$1; \
            if [ -z $lines ]; then lines=10; fi; \
            git log -n $lines --color --pretty=format:'%Cred%h %Cgreen(%cr) %C(bold blue)%an%Creset - %s %C(yellow)%d%Creset' --abbrev-commit; \
        }; f"
[credential]
    helper = store
[commit]
    gpgsign = true
[core]
    editor = vim
    pager = less -FRX
[init]
    defaultBranch = main

