[user]
    email = eduardoponz@eprosima.com
    name = EduPonz
    signingkey = 49D026A07DE7858343F965CBA3271B51629DF2A4
[core]
    editor = vim
[alias]
    lg = "!f() { \
            lines=$1; \
            if [ -z $lines ]; then lines=10; fi; \
            git log -n $lines --color --pretty=format:'%Cred%h %Cgreen(%cr) %C(bold blue)%an%Creset - %s %C(yellow)%d%Creset' --abbrev-commit; \
        }; f"
[credential]
    helper = cache
[http "https://gitlab.intranet.eprosima.com"]
    sslVerify = false
[commit]
    gpgsign = true
